.text-normal{
  font-weight: normal !important;
}

.animated{
  &, *{
    &, &:before, &:after{
      -webkit-transition: all 0.5s ease-in-out;
      -moz-transition: all 0.5s ease-in-out;
      -o-transition: all 0.5s ease-in-out;
      transition: all 0.5s ease-in-out;
    }
  }

}

.outer-indent-bottom-lg{
  margin-bottom: 100px;
}

.scalable{
  position: relative;

  .chart-holder{

    position: absolute;

    top: auto;
    bottom: 0;
    left: 0;
    width: 100%;
    transform: scale(1);

    &:hover{
      z-index: 2;
      transform: scale(1);
    }

    @media (min-width: 768px) {
      transform: scale(0.5);
      left: -50%;
      width: 200%;
      top: 0;

      &:hover{
        transform: scale(0.8);
        -webkit-box-shadow:  0 0 0 2px @gray-lighter;
        -moz-box-shadow:  0 0 0 2px @gray-lighter;
        box-shadow:  0 0 0 2px @gray-lighter;
      }
    }

    @media (min-width: 992px) {
      top: 45px;

      &:hover{
        transform: scale(1);
      }
    }

  }

  @media (min-width: 768px) {
    &.shift-1,
    &.shift-3 {
      .chart-holder {
        &:hover {
          left: -25%;
        }
      }
    }

    &.shift-2,
    &.shift-4 {
      .chart-holder {
        &:hover {
          left: -75%;
        }
      }
    }
  }

  @media (min-width: 992px) {
    &.shift-1{
      .chart-holder{
        &:hover{
          left: 0;
        }
      }
    }

    &.shift-2{
      .chart-holder{
        &:hover{
          left: -25%;
        }
      }
    }

    &.shift-3{
      .chart-holder{
        &:hover{
          left: -75%;
        }
      }
    }

    &.shift-4{
      .chart-holder{
        &:hover{
          left: -100%;
        }
      }
    }

  }

}