.menu{
  display: block;
  width: 50%;
  max-width: 500px;
  margin: 0 auto 20px auto;
  font-size: 0;
  text-align: center;

  li{
    border: 1px solid @gray-lighter;
    display: inline-block;
    font-size: medium;
    margin-right: -1px;

    a{
      text-decoration: none;
      padding: 10px;
      display: inline-block;
    }

    &:hover{
      background-color: @gray-lighter;
    }
  }
}